
<div>
  <button class="btn btn-primary" (click)="register()">Register</button>
  <button class="btn btn-primary" (click)="loginWithFacebook()">Login With Facebook</button>
  <button class="btn btn-primary" (click)="loginWithAuth0()">Login With Auth0</button>

  <app-login-form (login)="loginWithUsernameAndPassword($event)"></app-login-form>

</div>
