<form #form="ngForm" (ngSubmit)="submit(form)">

  <div ngModelGroup="contact" #contact="ngModelGroup">

    <div class="form-group">
      <label type="text" for="firstName">First Name</label>

      <input
          required minlength="3" pattern="banana" maxlength="10"
          ngModel name="firstName" #firstName="ngModel"
          (change)="log(firstName)"
          id="firstName" type="text" class="form-control"
      >

      <div *ngIf="firstName.touched && !firstName.valid" class="alert alert-danger">
        <div *ngIf="firstName.errors.required">First name is required</div>
        <div *ngIf="firstName.errors.minlength">First name should be minimum {{ firstName.errors.minlength.requiredLength }} characters</div>
        <div *ngIf="firstName.errors.pattern">First name dowsnt match the pattern</div>
      </div>

    </div>

  </div>

  <div class="form-group">
    <label type="text" for="comment">Comment</label>
    <input ngModel name="comment" #comment="ngModel" (change)="log(comment)" id="comment" type="textarea" class="form-control">
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ngModel name="isSubscribed">
      Subscribe to mailing List
    </label>
  </div>


  <div class="form-group">
    <label for="contactMethod">Contact Method</label>
    <select ngModel name="contactMethod" id="contactMethod" class="form-control">
      <option value="">Please select...</option>
      <option *ngFor="let method of (contactMethods$ | async)" value="{{method.id}}">{{method.name}}</option>
    </select>
  </div>


  <div class="radio">
    <label for="contactMethod" *ngFor="let method of (contactMethods$ | async)">
      <input ngModel type="radio" value="{{method.id}}" name="contactMethod">
      {{method.name}}
    </label>

</div>


  <button class="btn btn-primary" [disabled]="!(form.touched && form.valid)">Submit</button>
</form>


<hr />

<pre> {{ form.value | json }}</pre>
