<form [formGroup]="form" (ngSubmit)="changePassword()">



  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    <input
      formControlName="oldPassword"
      type="password" class="form-control"/>

      <div *ngIf="oldPassword.touched && oldPassword.invalid">
        <div *ngIf="oldPassword.errors.required" class="alert alert-danger">Old Password is required</div>
        <div *ngIf="oldPassword.errors.invalidOldPassword" class="alert alert-danger">Old Password does not match</div>
      </div>
  </div>


  <div class="form-group">
    <label for="newPassword">New Password</label>
    <input
      formControlName="newPassword"
      type="password" class="form-control">

      <div *ngIf="newPassword.touched && newPassword.invalid">
        <div *ngIf="newPassword.errors.required" class="alert alert-danger">Old Password is required</div>
      </div>
  </div>

  <div class="form-group">
    <label for="confirmPassword">Confirm Password</label>
    <input
      formControlName="confirmPassword"
      type="password" class="form-control">

      <div *ngIf="confirmPassword.touched && confirmPassword.invalid">
        <div *ngIf="confirmPassword.errors.required" class="alert alert-danger">Old Password is required</div>
      </div>

      <div *ngIf="form.invalid && confirmPassword.valid">
        <div *ngIf="form.errors?.passwordsShouldMatch" class="alert alert-danger">Passwords do not match</div>
      </div>
  </div>

  <button class="btn btn-primary">Change Password</button>

</form>


<hr />

<pre> {{form.value | json }}</pre>
<pre> {{ [oldPassword.errors, newPassword.errors, confirmPassword.errors, form.errors] | json }}</pre>
