<form [formGroup]="form" (ngSubmit)="submitLogin()">

  <div class="form-group">
    <label for="email">Email</label>
    <input formControlName="email" type="email" class="form-control">
  </div>


  <div class="form-group">
    <label for="password">Password</label>
    <input formControlName="password" type="password" class="form-control">
  </div>

  <button class="btn btn-primary">Login with Email and Password</button>

</form>
