<h1>
  Archive for {{ year }} / {{ month }}
</h1>

<!-- <button class="btn btn-primary"
  [routerLink]="['/blogs']"
>
  Back
</button> -->

<button class="btn btn-primary"
  (click)="viewAll()"
>
  Back
</button>
