<h2>{{title}}</h2>

<ul *ngIf="(coursesObservable$ | async) as courseList; else noCourses">
  <li *ngFor="let c of courseList">
    <app-course></app-course>
  </li>
</ul>

<ng-template #noCourses>No courses yet</ng-template>
