<div class="media github-follower">
  <div class="media-left">
    <a [href]="follower.html_url">
      <img class="mr-3 avatar" [src]="follower.avatar_url" alt="Generic placeholder image">
    </a>
  </div>

  <div class="media-body">
    <h4 class="media-heading">
      <a [routerLink]="['/followers', follower.id, follower.login]">
          {{ follower.login }}
      </a>
    </h4>
    <a [href]="follower.html_url">{{ follower.html_url }}</a>
  </div>
</div>
