<form #form="ngForm" (ngSubmit)="onSubmit(form)">

  <div class="form-group">
    <label for="courseName">Course Name</label>
    <input
      required minlength="5"
      ngModel #courseName="ngModel"
      name="courseName" id="courseName"
      type="text" class="form-control">

      <div *ngIf="courseName.touched && courseName.invalid" class="alert alert-danger">
        <div *ngIf="courseName.errors.required">Course name is required</div>
        <div *ngIf="courseName.errors.minlength">Course name length should be {{ courseName.errors.minlength.requiredLength }} characters minumum</div>
      </div>
  </div>

  <div class="form-group">
    <label for="courseCategory">Category</label>
    <select ngModel name="courseCategory" id="courseCategory" class="form-control">
      <option *ngFor="let cat of courseCategories" value="{{ cat.id }}">{{cat.name}}</option>
    </select>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" ngModel name="moneyBackGuarantee"> Money back guarantee
    </label>
  </div>

  <button class="btn btn-primary">Submit</button>

</form>

<hr />

<pre>
  {{ form.value | json}}
</pre>
