<div>

  <button class="btn btn-primary" (click)="logout()">Logout</button>

  <div *ngIf="(authState$ | async) as user">
    <h1>Hello {{ user.displayName || user.email }}</h1>
    <app-profile-image [user]="user"></app-profile-image>
  </div>

  <div *ngIf="(userProfile$ | async) as userProfile">
    <ngx-json-viewer [json]="userProfile"></ngx-json-viewer>
  </div>

  <div *ngIf="(auth0UserProfile$ | async) as auth0UserProfile">
    <app-auth0-profile [profile]="auth0UserProfile"></app-auth0-profile>
  </div>

</div>
