<h1>Cuisines</h1>

<ul>
  <li *ngFor="let c of (cuisines$ | async)">
    {{c.name}} | {{ c.id }}
  </li>
</ul>


<h1>Features</h1>

<ul>
  <li *ngFor="let f of (features$ | async)">
    {{f.name}} | {{ f.id }}
  </li>
</ul>

<h1>Restaurants</h1>

<ul>
  <li *ngFor="let r of (restaurants$ | async)">
    {{r.name}} | {{ r.cuisineType?.name || 'PENDING...'}}

    <ul>
      <li *ngFor="let f of (r.featureTypes | notUndefined)">
        {{f?.name}}
      </li>
    </ul>
  </li>
</ul>

<input type="text" [(ngModel)]="cuisineName">
<button (click)="addCuisine()">Add</button>
