<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li
          *ngFor="let route of routes"
          routerLinkActive="active current"
          >
            <a
              routerLink="{{route.url}}"
              [queryParams]="route.queryParams"
              >{{route.displayName}}</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
