<h1>Blog Home</h1>

<ul>
  <li *ngFor="let blog of (blogArchiveList$ | async)">
      <a [routerLink]="['/blogs', blog.year, blog.month]">
        {{blog.year}}/{{blog.month}}
      </a>
  </li>
</ul>
