<form [formGroup]="form" (ngSubmit)="signUp(form.value)">

  <div class="alert alert-danger" *ngIf="form.errors">
    The form was invalid
  </div>


  <div formGroupName="account">

    <div class="form-group">
      <label for="username">Username</label>
      <input
        formControlName="username"
        id="username"
        type="text"
        class="form-control">

        <div *ngIf="username.pending" class="alert alert-info">
            Checking username...
          </div>

        <div *ngIf="username.dirty && username.invalid">
          <div *ngIf="username.errors.required" class="alert alert-danger">
            Username is required
          </div>

          <div *ngIf="username.errors.minlength" class="alert alert-danger">
            Username min length is {{ username.errors.minlength.requiredLength }}
          </div>

          <div *ngIf="username.errors.cannotContainSpace" class="alert alert-danger">
            Username cannot contain a space
          </div>

          <div *ngIf="username.errors.shouldBeUnique" class="alert alert-danger">
            Username is already taken
          </div>

        </div>

    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        formControlName="password"
        id="password"
        type="text"
        class="form-control">

        <div *ngIf="password.touched && password.invalid">
          <div *ngIf="password.errors.required" class="alert alert-danger">
            Password is required
          </div>

          <div *ngIf="password.errors.minlength" class="alert alert-danger">
            Password min length is {{ password.errors.minlength.requiredLength }}
          </div>
        </div>
    </div>

  </div>



  <button class="btn btn-primary" type="submit">Sign Up</button>
</form>
