<form [formGroup]="form" (ngSubmit)="register()">

  <div class="form-group">
    <label for="email">Email</label>
    <input formControlName="email" type="email" class="form-control">
  </div>


  <div class="form-group">
    <label for="password">Password</label>
    <input formControlName="password" type="password" class="form-control">
  </div>

  <button class="btn btn-primary">Register</button>

  <div *ngIf="registeredAuthState">
      <ngx-json-viewer [json]="registeredAuthState.user.providerData[0]"></ngx-json-viewer>
  </div>

  <div *ngIf="authError">
      <ngx-json-viewer [json]="authError"></ngx-json-viewer>
  </div>

</form>
