<form>
  <input type="text" #topic class="form-control"
    (keyup.enter)="addTopic(topic)"
  >

  <ul class="list-group">
    <li *ngFor="let topic of topics.controls"
        class="list-group-item"
        (click)="removeTopic(topic)"
      >
      {{topic.value}}
    </li>
  </ul>
</form>
